
   
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">Student Information</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  </nav>
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="app-student-list">student List</a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="add-Student">add Student</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="edit-student">update Student</a>
          </li> -->
      <!-- </ul>
   
    </div>Ś
  </nav>!-->
  <!-- <router-outlet></router-outlet> -->